.content {
  .idea:target {
    animation: highlight 3s ease-in-out;

    & + dd {
      animation: highlight 3s ease-in-out;
    }
  }

  .highlighted {
    animation: highlight 0.8s ease-in-out;
    will-change: background-color;
  }

  #chunk1:target,
  #chunk1.highlighted,
  #idea1:target,
  #idea1.highlighted {
    animation: none;
  }

  #chapter-end {
    margin-bottom: 100vh;
  }

  .begin-nav,
  .end-nav {
    padding: var(--base-padding) 0 10vh;

    ul,
    li {
      display: block;
      margin: 0;
      padding: 0;
      list-style-type: none;
    }

    a[rel='index'] {
      display: none;
    }

    a[rel='prev'],
    a[rel='next'] {
      display: block;
    }

    a[rel='next'] {
      padding-top: 5vh;
      padding-bottom: 5vh;
    }
  }
}

body.nb-paginated .content {
  .begin-nav,
  .end-nav {
    a[rel='prev'],
    a[rel='next'] {
      text-indent: -9999px;

      &:focus {
        text-indent: 0;
      }
    }
  }
}

body.nb-paginated-back,
body.nb-paginated-forward {
  .content {
    overflow: hidden;

    .visible {
      animation: pagination-slide-in 0.3s;
    }
  }
}

body.nb-paginated-back {
  .content .visible {
    animation: pagination-slide-in-rev 0.3s;
  }
}
