.content {
  main {
  }

  #chapter-end {
    position: relative;
    top: -70vh;
  }

  .begin-nav,
  .end-nav {
    padding: var(--base-padding) 0 10vh;

    ul,
    li {
      display: block;
      margin: 0;
      padding: 0;
      list-style-type: none;
    }

    a[rel='index'] {
      display: none;
    }

    a[rel='prev'],
    a[rel='next'] {
      display: block;
    }

    a[rel='next'] {
      padding-top: 5vh;
      padding-bottom: 5vh;
    }
  }
}

body.paginated .content {
  .begin-nav,
  .end-nav {
    a[rel='prev'],
    a[rel='next'] {
      text-indent: -9999px;

      &:focus {
        text-indent: 0;
      }
    }
  }

  .end-nav {
    padding-bottom: 90vh;
  }
}

body.paginated-back,
body.paginated-forward {
  .content {
    overflow: hidden;

    main {
      animation: forward 0.2s ease-out;
    }
  }
}

body.paginated-button-back {
  .content main {
    animation: back 0.2s ease-out;
  }
}

body.paginated-button-back,
body.paginated-button-forward {
  &::before,
  &::after {
    font-family: monospace;
    content: '>';

    display: block;
    overflow: hidden;
    opacity: 0.1;
    width: calc(24px + 5vw);
    padding: 0;
    z-index: map-get($z-indexes, 'pagination');

    position: fixed;
    top: 25vh;
    right: 0;
    height: 50vh;

    border: solid var(--ui-c-text-shade);
    border-width: 2px;
    color: var(--ui-c-text-shade);
    line-height: 60vh;
    font-size: 5vw;
    text-align: center;
    animation: pagination-bar-fade 0.2s ease-in-out;
    border-radius: 10px 0 0 10px;
  }

  &::after {
    content: '>';
    left: 0;
    right: auto;
    border-radius: 0 10px 10px 0;
  }
}

body.paginated-button-back {
  &::before,
  &::after {
    top: 2vh;
    height: 18vh;
    line-height: 20vh;

    content: '<';
  }

  &::after {
    content: '<';
    left: 0;
    right: auto;
    border-radius: 0 10px 10px 0;
  }
}
