.nb-cropped {
  .chunk {
    visibility: hidden;
  }

  .visible {
    visibility: visible;
    will-change: transform, opacity;
  }
}

.nb-paginated {
  .step-forward {
    animation: pagination-slide-in 0.3s;
  }

  .step-back {
    animation: pagination-slide-in-rev 0.3s;
  }
}
