.nb-controls {
  font-family: var(--ui-font);
  font-size: var(--ui-font-size);

  .controls-launcher {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    cursor: pointer;

    div {
      min-height: 48px;
    }
  }

  .control {
    display: grid;
    grid-template-rows: 1fr calc(2.5 * var(--ui-font-size));
    height: 100%;
    position: fixed;
    z-index: map-get($z-indexes, 'controls');
    top: 0;
    right: 0;
    bottom: 0;
    background: var(--ui-background);
    width: calc(100vw - var(--content-max-width) - (2 * var(--base-padding)));

    overflow: hidden;
    box-shadow: 0 0 7px var(--ui-c-medium);
    transition: bottom 0.2s ease-out;
    animation: slide-up 0.2s ease-out;
    font-size: var(--ui-font-size);

    @media (max-width: map-get($breakpoints, 'max-full-screen-controls')) {
      left: 0;
      width: auto;
    }

    .control-bar {
      display: flex;
      grid-row: 2;
      width: 100%;
      width: calc(100vw - var(--content-max-width) - (2 * var(--base-padding)));

      @media (max-width: map-get($breakpoints, 'max-full-screen-controls')) {
        width: 100vw;
      }

      .tab {
        display: block;
        height: 100%;
        flex: 2;
        min-width: 0;
        padding: calc(var(--base-padding) / 2);
        border: solid var(--ui-c-soft);
        border-width: 1px 1px 0 0;
        background: var(--ui-c-bg-shade);
        box-sizing: border-box;
        font-size: var(--ui-font-size);

        cursor: pointer;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;

        &:nth-child(1)::before {
          content: '✏️ ';
        }

        &:nth-child(2)::before {
          content: '🔣 ';
        }

        &:nth-child(3)::before {
          content: '📖 ';
        }
      }

      .tab:first-child {
        padding-left: var(--base-padding);
      }

      .tab--selected {
        border-top: none;
        background: var(--ui-background);
      }

      .close {
        display: block;
        flex: 0;
        padding: calc(var(--base-padding) / 2) var(--base-padding) calc(var(--base-padding) / 4);
        cursor: pointer;
        border-top: 1px solid var(--ui-c-soft);
      }
    }

    .control__opened {
      grid-row: 1;
      position: relative;
      box-sizing: border-box;
      overflow: hidden;
    }
  }
}
