.nb-desk {
  font-family: var(--ui-font);
  padding: var(--base-padding);
  overflow-y: auto;

  .nb-desk__show-all-toggle {
    display: block;
    padding: calc(var(--base-padding) / 2) 0;
    text-align: right;
  }

  h2 {
    margin: 0 0 calc(var(--ui-font-size) / 2);
  }

  .nb-desk__chapter {
    .desk__list {
      max-width: 35rem;
      margin-bottom: 1rem;
    }

    .desk__list__detail {
      margin-bottom: 1rem;
    }

    .desk__notes {
      margin-bottom: 1rem;
    }

    .title-bar {
      grid-column: 1 / -1;
      padding: calc(var(--base-padding) / 2) 0;
      cursor: pointer;
      font-weight: bold;

      &.title-bar--collapsed {
        border-bottom: 1px solid var(--ui-c-soft);
      }
    }
  }

  .nb-desk__count {
    display: inline-block;
    font-size: 70%;
    background: var(--ui-c-bg-shade);
    padding: 3px 5px;
    margin-left: calc(var(--base-padding) / 2);
    border-radius: var(--ui-font-size);
  }

  .desk__annotation {
    position: relative;
    box-shadow: var(--ui-box-shadow);
    margin-bottom: var(--base-padding);
    border-radius: var(--border-radius-xl);
    padding: 0.5rem;

    .desk__annotation__destroy {
      display: block;
      float: right;
      width: 1.5rem;
      height: 1.5rem;
      margin: 0 0 var(--base-padding) var(--base-padding);
      text-indent: 3rem;
      border: none;
      background-color: transparent;
      background-position: 100% 50%;
      background-repeat: no-repeat;
      background-size: contain;

      white-space: nowrap;

      box-sizing: border-box;
      overflow: hidden;
      cursor: pointer;
      transition: 0.2s ease-in;
      will-change: transform;
      transform-origin: 50% 50%;

      color: red;
      background-image: url("data:image/svg+xml;utf8,<svg viewBox='4 0 16 24' width='24' height='24' xmlns='http://www.w3.org/2000/svg'><path d='M19,4L15.5,4L14.5,3L9.5,3L8.5,4L5,4L5,6L19,6L19,4ZM5.979,7.967L6,19C6,20.1 6.9,21 8,21L16,21C17.1,21 18,20.1 18,19L17.979,7.967L5.979,7.967Z' fill='red'/></svg>");

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .desk-annotation-wrapper {
    color: var(--ui-c-text-shade);
  }

  .annotation__head {
    display: none;
  }

  .annotation__symbol {
    font-family: var(--content-font);
  }

  .annotation {
    display: inline;
    padding: 0.1rem 0.125rem;
    margin: 0 -0.125rem;
    border-radius: 3px;
    background-color: #fafafa;
  }

  .annotation[data-hl='this'] {
    color: var(--annotation-color);
    background: var(--annotation-highlight);
  }

  .desk__annotation--secondary {
    .annotation[data-hl='this'] {
      color: var(--annotation-color--secondary);
      background: var(--annotation-highlight--secondary);
    }
  }

  .desk__annotation--strong {
    .annotation[data-hl='this'] {
      color: var(--annotation-color--strong);
      background: var(--annotation-highlight--strong);
    }
  }

  .desk__note-editor {
    margin-bottom: var(--base-padding);
  }

  .desk__note-editor__input {
    border: none;
    box-shadow: var(--ui-inset-shadow);
    padding: calc(var(--base-padding) / 2);
    border-radius: var(--border-radius);
    min-height: 4rem;
    box-sizing: border-box;
  }
}
