.nb-navigation nav {
  font-size: var(--ui-font-size);

  #pagination__top,
  #pagination__bottom {
    position: fixed;
    left: 0;
    width: 100vw;
    background: var(--background);
    box-sizing: border-box;
  }

  #pagination__top {
    top: 0;
    height: 0;
  }

  #pagination__bottom {
    bottom: 0;
    height: 4rem;
  }

  #pagination__bottom.pagination__bottom--collapsed {
    background: var(--soft-border-color);
    background: linear-gradient(
      to bottom,
      var(--transparent-background) 0%,
      var(--background) 100%
    );
  }

  #pagination__bottom::before {
    content: ' ';

    display: block;
    width: 100vw;
    height: 40px;
    position: fixed;
    left: 0;
    bottom: 0;

    background: var(--soft-border-color);
    background: linear-gradient(
      to bottom,
      var(--transparent-background) 0%,
      var(--background) 100%
    );
  }

  #pagination__bottom.pagination__bottom--collapsed::before {
    display: none;
  }

  /* nav bar */
  .nav-bar {
    --height: 6px;

    display: block;
    position: fixed;
    left: var(--base-padding);
    bottom: 0;
    width: calc(100vw - 2 * var(--base-padding));
    border-right: 1px solid var(--ui-overlay);

    height: var(--height);
    margin: 0;
    list-style-type: none;
    box-sizing: border-box;

    .chapter {
      display: block;
      border-left: 1px solid var(--ui-overlay);
      list-style-type: none;
      position: absolute;
      top: 0;
      z-index: map-get($z-indexes, 'navigation') + 11;
      height: var(--height);
      margin: 0;

      box-sizing: border-box;
      white-space: nowrap;
      overflow: hidden;
    }

    .info {
      visibility: hidden;
    }

    .pointer {
      display: block;
      list-style-type: none;
      position: absolute;
      bottom: 0;
      left: 0;
      height: 2px;
      width: 0;
      z-index: map-get($z-indexes, 'navigation') + 10;
      background: var(--accent-color);
    }
  }

  .top-bar {
    font-family: var(--content-font);
    font-size: var(--ui-font-size);

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;

    p.info {
      font-family: var(--heading-font);
      font-weight: var(--heading-font-weight);
      max-width: var(--content-max-width);
      padding: calc(var(--base-padding) / 4) var(--base-padding);
      margin: 0 var(--content-margin-right) 0 var(--content-margin-left);

      a {
        color: var(--text-color);
        text-decoration: none;
      }

      .chapter {
        display: none;
      }
    }
  }

  .top-bar .fixed {
    p.info .chapter {
      display: inline-block;
    }
  }

  .next,
  .prev {
    display: none;
  }
}
