$nb-yellow: #fff6de;
$nb-red: #9a4663;

.nb-onboarding {
  .onboarding-opener {
    z-index: 1;
    position: fixed;
    top: 60px;
    right: 1rem;
    box-sizing: border-box;
    margin-left: var(--base-padding);
    border-radius: var(--border-radius-xl);

    font-family: var(--ui-font);
    font-size: calc(var(--ui-font-size) * 0.9);
    line-height: 1.4;

    .onboarding-opener-bubble {
      position: relative;
      margin: 0 0 0 auto;
      max-width: 14rem;
      //box-shadow: var(--ui-box-shadow);
      background: var(--ui-c-bg-shade);
      color: var(--text-color);
      border-radius: var(--border-radius-xl);

      &:after {
        content: '';
        position: absolute;
        top: -14px;
        right: 0px;

        width: 0;
        height: 0;
        border-top: 20px solid transparent;
        border-left: 20px solid transparent;
        border-right: 20px solid var(--ui-c-bg-shade);
      }
      .onboarding-opener-intro {
        padding: var(--base-padding);
      }

      .onboarding-opener-close {
        cursor: pointer;
        float: right;
        padding: var(--base-padding);
        margin: calc(-1.5 * var(--base-padding)) calc(-1.5 * var(--base-padding)) 0 0;
        text-align: right;
        color: var(--text-color);
      }

      .onboarding-opener-open {
        display: block;
        text-align: right;
        margin-top: var(--base-padding);
        text-decoration: underline;
      }
    }

    .buttons {
      display: flex;
      border-top: 1px solid var(--ui-c-soft);

      a {
        padding: calc(var(--base-padding) / 2);
        margin: 0;
        line-height: 1.4;
        cursor: pointer;
      }

      &:first-child {
        border: none;
      }

      a {
        background: var(--ui-c-bg);
        white-space: nowrap;
        border: solid var(--ui-c-soft);
        border-width: 0 1px 0 0;
        flex: 1 1;
        text-align: center;
        text-decoration: none;
        color: var(--ui-c-text-shade);

        &:last-child {
          border-right: 0;
        }
      }
    }
  }

  .onboarding-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--ui-c-bg-shade);
    opacity: 0.75;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    z-index: map-get($z-indexes, 'onboarding');
  }

  .onboarding {
    font-family: var(--ui-font);
    font-size: var(--ui-font-size);
    z-index: map-get($z-indexes, 'onboarding');

    position: fixed;
    top: var(--base-padding);
    bottom: var(--base-padding);
    left: var(--base-padding);
    right: var(--base-padding);
    border-radius: var(--border-radius-xl);
    background: var(--ui-c-bg);

    padding: var(--base-padding);
    overflow: auto;

    animation: fade-in 0.4s ease-in;

    @media only screen and (min-width: 760px) {
      bottom: 25vh;
      left: 50%;
      top: auto;
      right: auto;

      width: 20rem;
      margin-left: -10rem;
    }
  }

  h2 {
    margin: 0;
    align-self: end;
  }

  .onboarding__card {
    display: grid;
    height: 100%;
    grid-template-rows: 1fr 2fr 1fr;
    align-items: center;
    grid-gap: var(--base-padding);
    max-width: calc(16 * var(--ui-font-size));
    margin: 0 auto;

    svg {
      display: block;
      width: 100%;
    }

    @media only screen and (min-width: 760px) {
      height: auto;
    }
  }

  .onboarding__content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: start;
    grid-gap: var(--base-padding);
  }

  @media only screen and (min-aspect-ratio: 3/2) and (max-width: 700px) {
    .onboarding__card {
      max-width: none;
    }

    .onboarding__content {
      display: block;
      height: calc(4 * var(--ui-font-size));
    }

    svg {
      float: left;
      width: 10vw;
      margin-right: var(--base-padding);
    }
  }

  .onboarding__controls {
    align-self: end;
  }

  .tip p:first-child {
    margin-top: 0;
  }

  .close {
    display: block;
    float: right;
    font-size: var(--ui-font-size);
    padding: var(--base-padding);
    margin: calc(-1.5 * var(--base-padding)) calc(-1.5 * var(--base-padding)) 0 -2rem;

    border: none;
    background: none;
    cursor: pointer;
    text-align: right;

    svg {
      width: calc(2 * var(--ui-font-size));
    }
  }

  .onboarding__controls__button,
  .onboarding__controls__back-button {
    line-height: calc(3.5 * var(--ui-font-size));
    height: calc(3.5 * var(--ui-font-size));
    cursor: pointer;
    user-select: none;
  }

  .onboarding__controls__back-button {
    float: left;
    color: $nb-red;
    font-size: calc(2 * var(--ui-font-size));
  }

  .onboarding__controls__button {
    width: calc(9.5 * var(--ui-font-size));
    margin: 0 auto;
    border-radius: var(--border-radius);
    background: $nb-red;
    color: $nb-yellow;
    text-align: center;
  }

  .dots {
    user-select: none;
    margin: var(--base-padding) auto 0;
    text-align: center;

    span {
      color: $nb-red;
      line-height: 10px;
      display: inline-block;
      height: 10px;
      opacity: 0.5;
      transform: scale(0.5);
      transition: transform 0.3s ease-out;
      will-change: transform;
      margin-right: 12px;
      cursor: pointer;

      &:last-child {
        margin-right: 0;
      }

      &.current {
        line-height: 10px;
        opacity: 1;
        transform: scale(0.8);
      }
    }
  }
}
