.nb-options {
  font-size: var(--ui-font-size);

  .cols {
    display: grid;
    grid-template-columns: 1fr calc(13 * var(--ui-font-size));
    grid-gap: var(--base-padding);
    margin: var(--base-padding);
  }

  .cell {
    grid-columns: 1 / -1;
    border: 1px solid var(--ui-c-soft);
    padding: calc(var(--base-padding) / 2);
    border-radius: var(--border-radius);
  }

  .cell__title {
    margin: calc(-0.5 * var(--base-padding));
    padding: calc(var(--base-padding) / 2);
    margin-bottom: calc(var(--ui-font-size) / 2);
    border-bottom: 1px solid var(--ui-c-soft);
  }

  .show-tips {
    grid-column: 1;
  }
  .font-size {
    grid-column: 2;

    p {
      margin: 0;
    }

    small,
    input,
    big {
      margin: 0 calc(0.5 * var(--ui-font-size)) 0 0;
      line-height: var(--ui-font-size);
    }

    big,
    small {
      display: inline-block;
      line-height: var(--ui-font-size);
    }

    .val {
      font-weight: normal;
      color: var(--ui-c-medium);
    }
  }
}
