.nb-options {
  font-size: var(--ui-font-size);

  .options-wrapper {
    display: grid;
    grid-gap: var(--base-padding);
    margin: var(--base-padding);
  }

  .cell {
    white-space: nowrap;
  }

  .cell__title {
    margin-bottom: calc(var(--ui-font-size) / 2);
  }

  .font-size-slider {
    /* font-sizes static because this element
     * needs to stay the same while global
     * font size changes */
    font-size: 24px;
    line-height: 36px;

    position: fixed;
    left: 50%;
    top: 50%;
    width: 280px;
    margin-left: -140px;
    margin-top: -33vh;

    background: var(--background);
    border: 1px solid var(--ui-c-soft);
    padding: 24px;
    border-radius: var(--border-radius);
    box-shadow: var(--ui-box-shadow);

    display: none;

    .enlarge-font-size,
    .shrink-font-size {
      vertical-align: top;
    }

    .enlarge-font-size {
      font-size: 32px;
      line-height: 32px;
      width: 38px;
      height: 38px;
    }

    .shrink-font-size {
      font-size: 16px;
      line-height: 32px;
      width: 38px;
      height: 38px;
    }

    .set-font-size {
      margin: 0 24px;
    }

    &.font-size-slider--show {
      display: block;
    }

    p {
      font-size: 24px;
      line-height: 36px;
      margin: 12px 0;
      text-align: center;
    }

    small,
    input,
    big {
      margin: 0 12px 0 0;
      line-height: 24px;
    }

    big,
    small {
      display: inline-block;
      line-height: 24px;
    }

    .val {
      font-weight: normal;
      color: var(--ui-c-medium);
    }
  }
}
