.nb-options {
  font-size: var(--ui-font-size);

  .options-wrapper {
    display: grid;
    grid-gap: var(--base-padding);
    margin: var(--base-padding);
  }

  .cell {
    border: 1px solid var(--ui-c-soft);
    padding: calc(var(--base-padding) / 2);
    border-radius: var(--border-radius);
  }

  .cell__title {
    margin: calc(-0.5 * var(--base-padding));
    padding: calc(var(--base-padding) / 2);
    margin-bottom: calc(var(--ui-font-size) / 2);
    border-bottom: 1px solid var(--ui-c-soft);
  }

  .font-size-slider {
    /* font-sizes static because this element
     * needs to stay the same while global
     * font size changes */
    font-size: 24px;
    line-height: 36px;

    position: fixed;
    left: 50%;
    top: 50%;
    width: 200px;
    margin-left: -100px;

    background: var(--background);
    border: 1px solid var(--ui-c-soft);
    padding: 24px;
    border-radius: var(--border-radius);
    box-shadow: 0 0 7px var(--ui-c-medium);

    display: none;

    &.font-size-slider--show {
      display: block;
    }

    p {
      font-size: 24px;
      line-height: 36px;
      margin: 12px 0;
      text-align: center;
    }

    small,
    input,
    big {
      margin: 0 12px 0 0;
      line-height: 24px;
    }

    big,
    small {
      display: inline-block;
      line-height: 24px;
    }

    .val {
      font-weight: normal;
      color: var(--ui-c-medium);
    }
  }
}
