.nb-progress {
  font-family: var(--ui-font);
  font-size: var(--ui-font-size);

  .current-position {
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 3px calc(6px + var(--base-padding));
    z-index: map-get($z-indexes, 'navigation') + 20;

    border: none;
    background: transparent;

    display: block;
    font-size: 12px;
    font-family: var(--ui-font);
    text-align: right;
  }

  .current-position--display {
    opacity: 0.5;
    pointer-events: none;
  }

  .current-position--config {
    padding: 3px;

    label {
      display: inline-block;
      padding: 3px 4px;
      margin: 2px;
      border: 1px solid var(--ui-c-medium);
      background: var(--ui-background);
      border-radius: var(--border-radius);
    }
  }

  .progress--collapsed {
    float: right;
  }

  .progress {
    display: flex;
    margin-bottom: 1rem;

    @media (min-width: 990px) {
      margin: 0 0 1rem 1rem;
      float: right;
    }

    select {
      max-width: 100%;
      padding: 0 0.25rem;
    }
  }

  .progress__idea,
  .progress__chapter {
    display: block;
    font-family: var(--ui-font);
    flex-grow: 0;
    flex-shrink: 1;
    padding-right: 0.5rem;
  }

  .progress__chapter {
    max-width: 40vw;
  }
}
