.nb-toc {
  padding: var(--base-padding);

  ol {
    margin-top: 0;
    padding-left: calc(1.5 * var(--ui-font-size));
  }

  li {
    margin-bottom: calc(var(--ui-font-size) / 2);
  }

  .current-chapter {
    font-weight: bold;
  }
}
