@use '../conf';

.nb-toc {
  @media screen and (max-width: map-get(conf.$breakpoints, 'max-big-tabs')) {
    padding: var(--base-padding);
  }

  padding-bottom: calc(4 * var(--base-padding));

  h1 {
    padding: var(--base-padding) calc(2 * var(--base-padding));
  }

  ul,
  ol {
    font-size: 1rem;
    font-family: var(--content-font);
    padding: 0;
    border: solid var(--ui-c-soft);
    border-width: 1px 0;

    li {
      padding: 0.5rem var(--base-padding) 0.5rem calc(2 * var(--base-padding));
      border-bottom: 1px solid var(--ui-c-soft);

      &:last-child {
        border-bottom: none;
      }
    }

    ul,
    ol {
      margin: 0.5rem calc(-1 * var(--base-padding)) 0 0;
      padding-left: 2rem;
      border-width: 1px 0 0;

      li {
        padding-left: 0;

        &:last-child {
          padding-bottom: 0;
        }
      }
    }
  }

  ul {
    padding-left: 0;

    & > li {
      list-style-type: none;
    }
  }

  .current-chapter {
    color: var(--accent-color);
  }

  .toggle {
    display: block;
    float: right;
    cursor: pointer;

    margin-top: -0.1rem;
    padding: 0;

    border: none;
    background: transparent;

    color: var(--ui-c-text);

    font-size: 1rem;
    clear: both;
  }

  li.folded {
    ol,
    ul {
      display: none;
    }
  }
}

.nb-toc-other {
  font-size: 1rem;
  padding: 0 calc(2 * var(--base-padding)) var(--base-padding);
}

.nb-toc,
.nb-toc-other {
  a {
    font-weight: bold;
    color: var(--text-color);
    text-decoration: none;

    @media (hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .headings-toc {
    li {
      list-style-type: none;
    }

    a {
      font-weight: normal;
    }
  }
}

.nb-toc-other {
  font-family: var(--content-font);
}
