.nb-toc {
  padding: var(--base-padding) calc(2 * var(--base-padding));
  padding-bottom: calc(4 * var(--base-padding));

  ul,
  ol {
    font-size: 1rem;
    font-family: var(--content-font);
    margin: 1rem 0;
    padding-left: calc(2 * 1rem);
  }

  li {
    margin-bottom: calc(1rem / 2);
  }

  ul li {
    list-style-type: none;
  }

  .current-chapter {
    font-weight: bold;
  }
}

.nb-toc-other {
  font-size: 1rem;
}

.nb-toc,
.nb-toc-other {
  a {
    font-weight: bold;
    color: var(--text-color);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
