@use 'light';
@use 'dark';
@use 'sepia';

body {
  @include light.colors;
}

@media (prefers-color-scheme: dark) {
  body {
    @include dark.colors;
  }
}

body.nb-color-scheme-light {
  @include light.colors;
}

body.nb-color-scheme-dark {
  @include dark.colors;
}

body.nb-color-scheme-sepia {
  @include sepia.colors;
}

body {
  color: var(--text-color);
  background: var(--background);
  :link {
    color: var(--link);
  }
  :visited {
    color: var(--visited);
  }
}
