:root {
  --margin-top: -0.8em;
  --hl-color: #ffa;
}

.annotations {
  position: fixed;
  top: 40px;
  left: 5px;
}

.annotation {
  display: inline;
  color: red;
}

.annotation-control {
  position: fixed;
  bottom: 10px;
  left: 10px;
  z-index: 1010;
}

.annotation-detail {
  background: yellow;
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 300px;
  padding: 20px;
  font-size: 14px;
}

.annotation {
  padding: 0.1rem 0;
  background: var(--hl-color);
}

.annotation__head {
  content: '‼️';
  background: var(--hl-color);
  font-size: 0.8em;
  margin-top: var(--margin-top);
  position: absolute;
  opacity: 0.7;
  line-height: 1;
  border-radius: 4px 4px 0 0;
}

.annotation__head::after {
  content: attr(data-note);
  font-size: 0.8em;
  margin: 0.3rem 0 0 0.1rem;
  position: absolute;
  white-space: nowrap;
}
