:root {
  --margin-top: -0.8em;

  --color: black;
  --highlight: #ffa;

  --color--secondary: navy;
  --highlight--secondary: #afa;

  --color--strong: red;
  --highlight--strong: #aff;
}

.annotation {
  display: inline;
  padding: 0.1rem 0.125rem;
  margin: 0 -0.125rem;
  color: var(--color);
  background: var(--highlight);
  cursor: pointer;
  border-radius: 3px;
}

.action-button,
.style-button,
.symbol-button {
  cursor: pointer;
  tranform-origin: 50% 50%;
  transition: 0.2s ease-in;
  will-change: transform;

  &:hover {
    transform: scale(1.1);
  }
}

.action-button {
  margin-top: 0.6rem;
  border: none;
  font-size: 1.5rem;
  background: transparent;
}

.style-button {
  border: 1px solid;
  border-radius: 3px;
  color: var(--color);
  margin-top: 0.6rem;
  background: var(--highlight);
}

.annotation--secondary,
.style-button--secondary {
  color: var(--color--secondary);
  background: var(--highlight--secondary);
}

.annotation--strong,
.style-button--strong {
  color: var(--color--strong);
  background: var(--highlight--strong);
}

.symbol-button {
  display: block;
  border: none;
  font-size: 1.5rem;
  background: var(--background);
  border-radius: 100px;
  line-height: 2rem;
}

.annotation-control {
  position: fixed;
  bottom: 20px;
  left: 0px;
  z-index: 1110;
  padding: 10px;

  display: flex;
  flex-direction: column-reverse;

  will-change: transform;
  animation: slide-from-left 0.2s ease-out;
}

@keyframes slide-from-left {
  0% {
    transform: translateX(-100px);
  }

  100% {
    transform: translateX(0px);
  }
}

.annotation__head {
  color: inherit;
  content: '‼️';
  background: inherit;
  font-size: 0.8em;
  margin-top: var(--margin-top);
  position: absolute;
  opacity: 0.7;
  line-height: 1;
  border-radius: 4px 4px 0 0;
}

.annotation__head::after {
  content: attr(data-note);
  font-size: 0.8em;
  margin: 0.3rem 0 0 0.1rem;
  position: absolute;
  white-space: nowrap;
}

#catchword-bottom::before {
  content: ' ';

  display: block;
  width: 100vw;
  height: 48px;
  position: fixed;
  left: 0;
  bottom: 0;

  border-top: 1px solid rgba(100, 100, 100, 0.2);
  background: rgba(0, 0, 0, 0.03);
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0.2) 0%, #eeeeee 100%);
  -webkit-backdrop-filter: blur(0.9px);
  backdrop-filter: blur(0.9px);
}

#catchword-bottom.catchword-bottom--collapsed::before {
  display: none;
}

.annotation-detail {
  position: fixed;
  left: 70px;
  bottom: 32px;
  z-index: 1110;
  width: 100vw;
  max-width: 480px;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 0.5rem 0.5rem #888;
  box-sizing: border-box;
}

.annotation-detail__note {
  min-height: 4rem;
  border: 1px solid #aaa;
  padding: 0.5rem;
  background: #fff;
  border-radius: 0 0 3px 3px;
  border-width: 1px 0;

  max-height: 6rem;
  overflow-y: auto;
}

.annotation-detail__tools {
  display: flex;
  flex-direction: row-reverse;
  padding: 0.5rem;
  background: #eee;
}

.annotation-detail__close,
.annotation-detail__destroy {
  width: 2rem;
  text-indent: 3rem;
  border: none;
  background-color: transparent;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;

  white-space: nowrap;

  box-sizing: border-box;
  margin-left: 1rem;
  overflow: hidden;
  cursor: pointer;
  transition: 0.2s ease-in;
  will-change: transform;
  transform-origin: 50% 50%;

  &:hover {
    transform: scale(1.1);
  }
}

.annotation-detail__close {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'><path fill='none' d='M0 0h24v24H0V0z'/><path d='M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm4.59-12.42L10 14.17l-2.59-2.58L6 13l4 4 8-8z' fill='green' /></svg>");
}

.annotation-detail__destroy {
  color: red;
  background-image: url("data:image/svg+xml;utf8,<svg viewBox='4 0 16 24' width='24' height='24' xmlns='http://www.w3.org/2000/svg'><path d='M19,4L15.5,4L14.5,3L9.5,3L8.5,4L5,4L5,6L19,6L19,4ZM5.979,7.967L6,19C6,20.1 6.9,21 8,21L16,21C17.1,21 18,20.1 18,19L17.979,7.967L5.979,7.967Z' fill='red'/></svg>");
}

.annotation-temp {
  background: color;
}

.annotation__desk {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  height: 80vh;
  padding: 1rem 4rem;
  z-index: 1200;
  background: #eee;
  border-top: 1px solid #eee;
  border-radius: 3px 3px 0 0;

  animation: slide-up 0.3s ease-out;
}

.annotation__list {
  max-width: 35rem;
}

.annotation__list__detail {
  margin: 0 0 2rem;
}

@keyframes slide-up {
  0% {
    transform: translateY(100vh);
  }

  100% {
    transform: translateY(0);
  }
}

.annotation__desk__head {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  height: 3rem;
  line-height: 3rem;
  text-align: left;
  background: #ddd;
  z-index: 3;

  .annotation__desk__info {
    flex-grow: 1;
    padding: 0 1rem;

    p {
      margin: 0;
      line-height: 3rem;
    }
  }

  .annotation__desk__close {
    display: block;
    width: 3rem;
    height: 3rem;
    font-size: 1rem;

    border: none;
    color: black;
    background: none;
    cursor: pointer;
    text-align: center;
  }
}

.annotation__desc_cols {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 2rem;
  padding-top: 4rem;
  padding-bottom: 4rem;

  position: absolute;
  top: 3rem;
  left: 2rem;
  bottom: 0;
  right: 2rem;
  overflow-y: auto;
}

.annotation__list,
.annotation__notes {
}

.annotation__chapter-note {
  border: 1px solid #ddd;
  border-radius: 3px;
  background: white;
  min-height: 6rem;
  padding: 0.5rem;
  margin-bottom: 2rem;
  width: 100%;
  box-sizing: border-box;
}
