.content {
  padding: 2rem 1rem 4rem;

  .idea {
    padding: 1px 0;
  }
}

:target {
  border-radius: 2px;
  padding: 4px 0;

  &:before {
    display: block;
    position: absolute;
    content: ' ';
    margin-top: -150px;
    height: 150px;
    visibility: hidden;
  }

  & + dd {
    background: #ffc;
    border-radius: 2px;
  }
}
