:root {
  font-size: 18px;
  --base-padding: 1rem;
  --highlight-color: rgba(255, 255, 0, 1);
}

body {
  margin: 0;
}

.content {
  margin: 0 auto;
  max-width: 32rem;
  padding: 10vh var(--base-padding) 10rem;

  .idea {
    padding: 1px 0;
  }

  #chunk1 {
    padding-top: 2rem;
  }
}

:target {
  border-radius: 2px;
  padding: 4px 0;

  &:before {
    display: block;
    position: absolute;
    content: ' ';
    margin-top: -150px;
    height: 150px;
    visibility: hidden;
  }

  & + dd {
    background: #ffc;
    border-radius: 2px;
  }
}

.highlighted {
  animation: highlight 0.5s ease-in-out;
  will-change: background-color;
}

@keyframes highlight {
  0% {
    background-color: var(--highlight-color);
  }

  100% {
    background-color: rgba(255, 255, 255, 0);
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(30vh);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
