:root {
  font-size: 18px;
  --base-padding: 1rem;
}

body {
  margin: 0;
}

.content {
  margin: 0 auto;
  max-width: 32rem;
  padding: 10vh var(--base-padding) 10rem;

  .idea {
    padding: 1px 0;
  }
}

:target {
  border-radius: 2px;
  padding: 4px 0;

  &:before {
    display: block;
    position: absolute;
    content: ' ';
    margin-top: -150px;
    height: 150px;
    visibility: hidden;
  }

  & + dd {
    background: #ffc;
    border-radius: 2px;
  }
}
