$base-font-size: 18px !default;
$content-line-height: 1.4 !default;
$heading-line-height: 1.25 !default;

$controls-width: 24rem !default;

$content-max-width: 35rem !default;
$content-margin-left: auto !default;
$content-margin-right: auto !default;

// content typo
$content-font: serif !default;
$heading-font: sans-serif !default;
$heading-font-weight: bold !default;
$font-size-ratio: 1 !default;

// ui
$base-padding: 16px !default;
$small-padding: 6px !default;
$border-radius: 6px !default;
$border-radius-xl: 9px !default;

// ui typo
$ui-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
  'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol' !default;
$ui-font-size: calc(16px * var(--font-size-ratio)) !default;

@use "functions";

$z-indexes: (
  'pagination': 900,
  'breaks': 950,
  'navigation': 1000,
  'peeks': 1050,
  'toc': 1100,
  'footnotes': 1200,
  'annotations': 1300,
  'controls': 3000,
  'research': 3500,
  'onboarding': 4000,
);

$breakpoints: (
  'max-big-tabs': 400px,
  'min-side-annotation-ui': functions.remToPx(24rem),
  'max-full-screen-controls': 990px,
  'min-double-col-notes': 600px,
);
