:root {
  // layout
  --content-max-width: 32rem;
  --content-margin-left: auto;
  --content-margin-right: auto;

  // content typo
  --content-font: serif;
  --heading-font: sans-serif;
  --heading-font-weight: bold;
  --base-font-size: $baseFontSize;
  --font-size-ratio: 1;

  // content colors
  --background: white;
  --text-color: black;
  --accent-color: #0033f8;
  --highlight-color: rgba(255, 255, 0, 1);

  // ui
  --base-padding: 16px;
  --small-padding: 6px;
  --border-radius: 3px;
  --border-radius-xl: 6px;
  --ui-background: white;
  --ui-overlay: rgba(0, 0, 0, 0.5);

  // ui typo
  --ui-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --ui-font-size: calc(16px * var(--font-size-ratio));

  --ui-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  --ui-inset-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);

  --ui-c-bg: #fff;
  --ui-c-bg-shade: #fafafa;
  --ui-c-soft: #ccc;
  --ui-c-medium: #aaa;
  --ui-c-text-shade: #777;
  --ui-c-text: #222;

  font-size: calc(var(--font-size-ratio) * var(--base-font-size));
}
