.content {
  p,
  li {
    opacity: 0.7;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    -webkit-transition-property: transform; /* Safari */
    transition-property: transform;
    -webkit-transition-duration: 1s; /* Safari */
    transition-duration: 1s;
    padding: 10x;
    border-radius: 3px;
    line-height: 1.54;
  }

  .glanced {
  }

  .seen {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  .stared {
    /* background: red; /* For browsers that do not support gradients */
    /* background: -webkit-linear-gradient(left, orange , yellow, green, cyan, blue, violet); /* For Safari 5.1 to 6.0 */
    /* background: -o-linear-gradient(right, orange, yellow, green, cyan, blue, violet); /* For Opera 11.1 to 12.0 */
    /* background: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet); /* For Firefox 3.6 to 15 */
    /* background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet); /* Standard syntax (must be last) */
  }

  hr {
    margin: 3rem 0;
  }
}
