body {
	padding-top: 30px;
	padding-bottom: 10px;
}

.nb-navigation nav {
	.catchword-bar {
		position: fixed;
		bottom: 0;
		left: 0;
		height: 100px;
		background: rgba(0, 0, 0, 0.03);
		width: 100%;
	}

	/* nav bar */
	.nav-bar {
		--height: 10px;

		display: block;
		position: fixed;
		left: 35px;
		right: 35px;
		bottom: 5px;

		height: var(--height);
		margin: 0;

		list-style-type: none;
		overflow: hidden;

		opacity: 0.5;
		border: 0.5px solid #000;
		border-radius: 3px;

		.chapter {
			display: block;
			list-style-type: none;
			position: absolute;
			top: 0;
			height: var(--height);
			margin: 0;
			background: black;
			color: white;

			box-sizing: border-box;
			padding: 2px 3px;
			font-size: 14px;
			white-space: nowrap;
			overflow: hidden;
		}

		.chapter:nth-child(even) {
			background: #666;
		}

		.info {
			visibility: hidden;
		}

		.pointer {
			display: block;
			list-style-type: none;
			position: absolute;
			height: calc(var(--height) - 2px);
			width: calc(var(--height) - 2px);
			z-index: 1;

			margin: 1px 0 0 calc(var(--height) * -0.5);
			border-radius: var(--height);
			background: white;
		}

		&:hover {
			--height: 25px;

			ul.chapters {
				opacity: 1;
			}

			.info {
				visibility: visible;
			}
		}
	}

	/* top menu */
	.top-bar {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		overflow: hidden;

		box-sizing: border-box;
		padding: 0.5rem 1rem;

		background: rgba(230, 230, 230, 100);

		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 1rem;

		p {
			margin: 0;
		}

		p.book {
			text-align: right;
		}
	}

	.next,
	.prev {
		display: block;
		position: fixed;
		width: 25px;
		height: 13px;
		bottom: 4px;

		margin: 0;
		overflow: hidden;

		opacity: 0.5;
		border: 0.5px solid #000;
		border-radius: 3px;

		background: black;
		color: white;
		text-decoration: none;
		text-align: center;

		font-size: 12px;
		line-height: 13px;
	}

	.next {
		right: 5px;
	}

	.prev {
		left: 5px;
	}
}

.headroom .nb-navigation nav {
	.nav-bar,
	.top-bar {
		transition: transform 200ms ease-in;
		will-change: transform;
	}
}

.headroom--unpinned .nb-navigation nav {
	.top-bar {
		transform: translateY(-100%);
	}
	.nav-bar {
		transform: translateY(40px);
	}
}
