p,
blockquote,
h1,
h2,
h3,
h4,
h5,
h6,
dl,
fieldset,
figure,
ul,
ol,
table,
button,
input,
li,
dd,
dt,
td,
th,
figcaption {
  line-height: 1.4em;
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.25em;
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 1.125rem;
}
h5 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
}
h6 {
  text-transform: uppercase;
  font-size: 1rem;
}

p,
blockquote,
dl,
ul,
ol {
  margin: 0 0 0.5rem;
}

table,
fieldset,
figure {
  margin: 0 0 1rem;
}

ul,
ol {
  padding-left: 1.125rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1.5rem 0 0.125rem;
}

hr {
  margin: 3rem 0;
  border: 1px solid;
}
