.scrollable-wrapper {
  height: 100%;
  overflow: hidden;
}

.scrollable {
  height: 100%;
  padding-bottom: 2rem;
  box-sizing: border-box;
  overflow-y: auto;
}

.auto-cols {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 30px;
  align-items: end;
}
