.scrollable-wrapper {
  height: 100%;
  overflow: hidden;
}

.scrollable {
  height: 100%;
  padding-bottom: 2rem;
  box-sizing: border-box;
  overflow-y: auto;
}

.auto-cols {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
