$controls-width: 32rem;

$z-indexes: (
  'onboarding': 4000,
  'pagination': 2000,
  'annotations': 1300,
  'navigation': 1000,
  'footnotes': 1200,
  'peeks': 1000,
  'toc': 1100,
  'controls': 3000
);

$breakpoints: (
  'max-big-tabs': 400px,
  'min-side-annotation-ui': 24rem,
  'max-full-screen-controls': 90rem,
  'min-double-col-notes': 600px
);

@import '_defaults';
@import '_animations';
@import '_base';
@import '_utils';

// always scoped to .content
@import 'content/_layout';
@import 'content/_typo';
@import 'content/_footnote';
@import 'content/_navigation';
@import 'content/_annotation';

// always scoped to .nb-* class
// root custom props prefixed with name
// TODO: prefix bodyclasses
@import 'ui/_base';
@import 'ui/_annotations';
@import 'ui/_desk';
@import 'ui/_navigation';
@import 'ui/_progress';
@import 'ui/_seq-return';
@import 'ui/_peeks';
@import 'ui/_toc';
@import 'ui/_controls';
@import 'ui/_options';
@import 'ui/_onboarding';
